body {
  font-family: "Roboto", sans-serif;
}

#gameArea {
  color: #fff;
  background-color: #1d1f23; /* Dark background for the game area */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
}

#box {
  width: 180px;
  height: 180px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#box:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

#clickCount {
  font-size: 2em;
  font-weight: bold;
  color: #f39c12;
}

#lastClickValue {
  font-size: 1.5em;
  color: #ff6347; /* Tomato color for click power */
}

#shop {
  margin-top: 50px;
}

.shop-item {
  background-color: #2c3e50; /* Darker background for shop items */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  max-width: 270px; /* Now each item has a fixed width */
  margin: 10px;
}

.shop-item:hover {
  transform: scale(1.05);
}

.shop-item h3 {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

.shop-item p {
  color: #ecf0f1;
  margin: 10px 0;
}

.shop-item button {
  background-color: #34495e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.shop-item button:hover {
  background-color: #16a085;
}

#notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e74c3c;
  color: #fff;
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 1.2em;
  opacity: 0;
  transition: opacity 0.5s;
}

#notification.show {
  opacity: 1;
}

.floating-img {
  position: absolute;
  width: 60px;
  height: 60px;
  pointer-events: none;
  animation: floatUp 1s ease-out forwards;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@keyframes floatUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-120px);
  }
}
